<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-joueur  [joueur]="updatedJoueur" [ajout]="ajout"(joueurUpdated)="joueurUpdated($event)">
        </app-update-joueur>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Equipe</th>
                    </tr>
                </thead>
                <tbody *ngFor="let equipe of equipes">
                    <tr>
                        <td>{{equipe.idEquipe}}</td>
                        <td>{{equipe.nomEquipe}}</td>
                        <td><a class="btn btn-success" (click)="updateEquipe(equipe)">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
